pythoncode/Flask/static/myflows.json
[{"id":"57b5ec40.2546b4","type":"tab","label":"General","disabled":false,"info":""},{"id":"a85b5ce1.87adb","type":"tab","label":"Plant 1","disabled":false,"info":""},{"id":"ba471e8b.995bf","type":"tab","label":"Plant 2","disabled":false,"info":""},{"id":"871cef2a.7a2bd","type":"tab","label":"Plant 3","disabled":false,"info":""},{"id":"15e4c79.09e8538","type":"tab","label":"Plant 4","disabled":false,"info":""},{"id":"873ff203.72e4f","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"f9f468ff.3136b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#44a829","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#44a829","edited":true},"page-titlebar-backgroundColor":{"value":"#44a829","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#68d34b","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#44a829","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Example","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1f40c6c3.f785f9","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"72e82b29.470464","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"b7a043b4.5990e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"333aa9ed.b20d46","type":"ui_tab","z":"","name":"Settings","icon":"build","order":9,"disabled":false,"hidden":false},{"id":"8c5d0012.02f31","type":"ui_group","z":"","name":"Over the Gound Values","tab":"c0d086ff.ae1098","order":1,"disp":true,"width":"7","collapse":false},{"id":"c0d086ff.ae1098","type":"ui_tab","z":"","name":"Plant 1","icon":"local_florist","order":5,"disabled":false,"hidden":false},{"id":"22c68edd.7395f2","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"fa69be31.05246","type":"ui_group","z":"","name":"General Settings","tab":"333aa9ed.b20d46","order":1,"disp":true,"width":"6","collapse":false},{"id":"78bd6340.abc21c","type":"ui_group","z":"","name":"Room Values","tab":"49270998.9e0418","order":1,"disp":true,"width":"7","collapse":false},{"id":"49270998.9e0418","type":"ui_tab","z":"","name":"General","icon":"nature_people","order":4,"disabled":false,"hidden":false},{"id":"886896a1.9c27b8","type":"ui_group","z":"","name":"Sensors Batteries ","tab":"49270998.9e0418","order":2,"disp":true,"width":"7","collapse":false},{"id":"68b6f4e2.9ef4fc","type":"ui_group","z":"","name":"GrowX","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f371d00.32e67","type":"ui_group","z":"","name":"Groud Values","tab":"c0d086ff.ae1098","order":2,"disp":true,"width":"7","collapse":false},{"id":"65c15e4.b4b01a","type":"ui_group","z":"","name":"Delete a sensor","tab":"333aa9ed.b20d46","order":2,"disp":true,"width":"6","collapse":false},{"id":"70b925d4.3407cc","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"room1","name":"","usetls":false,"tls":""},{"id":"63495e2b.f5618","type":"ui_tab","z":"","name":"Plant 2","icon":"local_florist","order":6,"disabled":false,"hidden":false},{"id":"78a22ad7.2c0f64","type":"ui_tab","z":"","name":"Plant 3","icon":"local_florist","order":7,"disabled":false,"hidden":false},{"id":"2d19f46e.b800fc","type":"ui_group","z":"","name":"Over the Ground Values","tab":"63495e2b.f5618","order":1,"disp":true,"width":"7","collapse":false},{"id":"40b8042a.c7287c","type":"ui_group","z":"","name":"Ground Values","tab":"63495e2b.f5618","order":2,"disp":true,"width":"7","collapse":false},{"id":"175adaf6.dede05","type":"ui_group","z":"","name":"Over the Ground Values","tab":"78a22ad7.2c0f64","order":1,"disp":true,"width":"7","collapse":false},{"id":"1c3dc898.a23da7","type":"ui_group","z":"","name":"Ground Values","tab":"78a22ad7.2c0f64","order":2,"disp":true,"width":"7","collapse":false},{"id":"772da1b7.179aa","type":"ui_group","z":"","name":"Add a New Sensor ","tab":"c0d086ff.ae1098","order":3,"disp":true,"width":"7","collapse":false},{"id":"1600072d.b641b9","type":"ui_group","z":"","name":"Add a New Sensor","tab":"63495e2b.f5618","order":3,"disp":true,"width":"7","collapse":false},{"id":"54af106b.b05db","type":"ui_group","z":"","name":"Add a New Sensor","tab":"78a22ad7.2c0f64","order":3,"disp":true,"width":"7","collapse":false},{"id":"abe273d2.eea93","type":"ui_tab","z":"","name":"Plant 4","icon":"local_florist","order":8,"disabled":false,"hidden":false},{"id":"bf47dc80.56398","type":"ui_group","z":"","name":"Over the Ground Values","tab":"abe273d2.eea93","order":1,"disp":true,"width":"7","collapse":false},{"id":"be0503f.8009d","type":"ui_group","z":"","name":"Ground Values","tab":"abe273d2.eea93","order":2,"disp":true,"width":"7","collapse":false},{"id":"e35552b0.01b33","type":"ui_group","z":"","name":"Add a New Sensor","tab":"abe273d2.eea93","order":3,"disp":true,"width":"7","collapse":false},{"id":"73655138.2cea3","type":"ui_spacer","name":"spacer","group":"886896a1.9c27b8","order":2,"width":"4","height":"3"},{"id":"18496511.da13ab","type":"ui_group","z":"","name":"WI-FI","tab":"333aa9ed.b20d46","order":3,"disp":true,"width":"6","collapse":false},{"id":"ade4c98d.e3aba8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a7091e0.605ee","type":"ui_spacer","name":"spacer","group":"68b6f4e2.9ef4fc","order":2,"width":1,"height":1},{"id":"3b2e7d9a.398da2","type":"ui_spacer","name":"spacer","group":"43711b0.0e85fe4","order":1,"width":1,"height":1},{"id":"f24b1326.39547","type":"ui_spacer","name":"spacer","group":"43711b0.0e85fe4","order":3,"width":1,"height":1},{"id":"43711b0.0e85fe4","type":"ui_group","z":"","name":"How to Connect","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"33d924e.fc0c0dc","type":"ui_spacer","name":"spacer","group":"43711b0.0e85fe4","order":2,"width":"9","height":"1"},{"id":"684947f3.a5a9a8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d756584d.d19478","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab8d8629.79fec8","type":"ui_group","z":"","name":"uigroup_es2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b3a2cee.862034","type":"ui_group","z":"","name":"Default","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d27c11ab.1aa78","type":"ui_button","z":"873ff203.72e4f","name":"","group":"65c15e4.b4b01a","order":1,"width":0,"height":0,"passthru":false,"label":"Remove All Sensors","tooltip":"","color":"","bgcolor":"brown","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":180,"wires":[["9263c086.b1f42"]]},{"id":"9263c086.b1f42","type":"mqtt out","z":"873ff203.72e4f","name":"","topic":"remall","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":670,"y":180,"wires":[]},{"id":"2ee672de.c4213e","type":"mqtt out","z":"873ff203.72e4f","name":"","topic":"Polling","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":670,"y":100,"wires":[]},{"id":"d0bd4ed8.a0884","type":"ui_slider","z":"873ff203.72e4f","name":"","label":"Polling Speed","tooltip":"","group":"fa69be31.05246","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":10,"step":1,"x":120,"y":100,"wires":[["2ee672de.c4213e"]]},{"id":"94100cd5.028f8","type":"ui_button","z":"a85b5ce1.87adb","name":"","group":"772da1b7.179aa","order":1,"width":0,"height":0,"passthru":false,"label":"Pair a New device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Plant1","payloadType":"str","topic":"","x":170,"y":480,"wires":[["dd38d333.4e2dc","2ccbfe3a.8d5fc2"]]},{"id":"dd38d333.4e2dc","type":"mqtt out","z":"a85b5ce1.87adb","name":"","topic":"Pair","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":790,"y":480,"wires":[]},{"id":"be1cc86.868db38","type":"ui_text","z":"a85b5ce1.87adb","group":"772da1b7.179aa","order":3,"width":0,"height":0,"name":"","label":"Number of new sensors found:","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":720,"wires":[]},{"id":"2b2d7ffc.bce8c","type":"mqtt in","z":"a85b5ce1.87adb","name":"","topic":"scannumber","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":150,"y":720,"wires":[["be1cc86.868db38"]]},{"id":"7b1034b8.3e1f0c","type":"mqtt in","z":"a85b5ce1.87adb","name":"","topic":"FloraResult","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":150,"y":640,"wires":[["7ae3aa56.42ae84"]]},{"id":"7ae3aa56.42ae84","type":"ui_text","z":"a85b5ce1.87adb","group":"772da1b7.179aa","order":2,"width":0,"height":0,"name":"","label":"Pairing Status:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":640,"wires":[]},{"id":"561b34b0.7b3a1c","type":"ui_button","z":"ba471e8b.995bf","name":"","group":"1600072d.b641b9","order":1,"width":0,"height":0,"passthru":false,"label":"Pair a New device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Plant2","payloadType":"str","topic":"","x":250,"y":460,"wires":[["8387695f.7c3c28","e9c84962.5f2ca8"]]},{"id":"8387695f.7c3c28","type":"mqtt out","z":"ba471e8b.995bf","name":"","topic":"Pair","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":810,"y":460,"wires":[]},{"id":"86f816a7.414b58","type":"ui_text","z":"ba471e8b.995bf","group":"1600072d.b641b9","order":2,"width":0,"height":0,"name":"","label":"Number of new sensors found:","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":700,"wires":[]},{"id":"20c8264c.4dee2a","type":"ui_text","z":"ba471e8b.995bf","group":"1600072d.b641b9","order":3,"width":0,"height":0,"name":"","label":"Pairing Status:","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":620,"wires":[]},{"id":"c2d6e2ca.0a2b8","type":"ui_button","z":"871cef2a.7a2bd","name":"","group":"54af106b.b05db","order":1,"width":0,"height":0,"passthru":false,"label":"Pair a New device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Plant3","payloadType":"str","topic":"","x":350,"y":440,"wires":[["b5269cae.bb2b8","d8d459a8.8fd8f8"]]},{"id":"b5269cae.bb2b8","type":"mqtt out","z":"871cef2a.7a2bd","name":"","topic":"Pair","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":910,"y":440,"wires":[]},{"id":"2d13d2b6.9a1a2e","type":"ui_text","z":"871cef2a.7a2bd","group":"54af106b.b05db","order":3,"width":0,"height":0,"name":"","label":"Number of new sensors found:","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":680,"wires":[]},{"id":"f21744d4.527668","type":"ui_text","z":"871cef2a.7a2bd","group":"54af106b.b05db","order":2,"width":0,"height":0,"name":"","label":"Pairing Status:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":600,"wires":[]},{"id":"7e3df742.f3df38","type":"ui_button","z":"15e4c79.09e8538","name":"","group":"e35552b0.01b33","order":1,"width":0,"height":0,"passthru":false,"label":"Pair a New device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Plant4","payloadType":"str","topic":"","x":330,"y":460,"wires":[["8f976407.eb8bc8","5b2155cf.f7d68c"]]},{"id":"8f976407.eb8bc8","type":"mqtt out","z":"15e4c79.09e8538","name":"","topic":"Pair","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":890,"y":460,"wires":[]},{"id":"986e74d3.f0d048","type":"ui_text","z":"15e4c79.09e8538","group":"e35552b0.01b33","order":3,"width":0,"height":0,"name":"","label":"Number of new sensors found:","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":700,"wires":[]},{"id":"6ca758f7.4fe098","type":"ui_text","z":"15e4c79.09e8538","group":"e35552b0.01b33","order":2,"width":0,"height":0,"name":"","label":"Pairing Status:","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":620,"wires":[]},{"id":"4c753772.2c4d18","type":"ui_button","z":"57b5ec40.2546b4","name":"","group":"78bd6340.abc21c","order":4,"width":0,"height":0,"passthru":false,"label":"Pair a Thermometer","tooltip":"","color":"","bgcolor":"","icon":"","payload":" Plant 2","payloadType":"str","topic":"","x":380,"y":480,"wires":[["7c63c4b9.e712bc","7c97cb68.3ff724"]]},{"id":"7c63c4b9.e712bc","type":"mqtt out","z":"57b5ec40.2546b4","name":"","topic":"PairThermo","qos":"2","retain":"false","broker":"b7a043b4.5990e","x":950,"y":480,"wires":[]},{"id":"2ccbfe3a.8d5fc2","type":"function","z":"a85b5ce1.87adb","name":"","func":"msg.payload=\"Scanning\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["7ae3aa56.42ae84"]]},{"id":"703ff441.bf8d3c","type":"function","z":"57b5ec40.2546b4","name":"Temperature formatter","func":"//\n \nvar series = [\"Temperature °C\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Temperature + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":60,"wires":[["65249f4c.1bfbd"]]},{"id":"7b20ae50.2df3f","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":60,"wires":[["703ff441.bf8d3c"]]},{"id":"bbc4c161.fb793","type":"inject","z":"57b5ec40.2546b4","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"query","payload":"","payloadType":"str","x":260,"y":120,"wires":[["c91836b5.490738","7a8c3dd6.9e5804","8d908fa4.20cb7","7eeb9c8e.aeae24","231c7bb5.97ad04","40cb200f.f6aa9","84877cb5.4a146"]]},{"id":"65249f4c.1bfbd","type":"ui_chart","z":"57b5ec40.2546b4","name":"","group":"78bd6340.abc21c","order":2,"width":0,"height":0,"label":"Temperature Room (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ea1010","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":60,"wires":[[]]},{"id":"84877cb5.4a146","type":"function","z":"57b5ec40.2546b4","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Temperature FROM Thermo WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Temperature FROM Thermo WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["7b20ae50.2df3f"]]},{"id":"bea0a2be.47c2c","type":"function","z":"57b5ec40.2546b4","name":"Humidity Formatter","func":"//\n \nvar series = [\"Humidity %\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Humidity + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["3efa9ff4.a1f6"]]},{"id":"79aa2687.a22138","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":120,"wires":[["bea0a2be.47c2c"]]},{"id":"3efa9ff4.a1f6","type":"ui_chart","z":"57b5ec40.2546b4","name":"","group":"78bd6340.abc21c","order":3,"width":0,"height":0,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":120,"wires":[[]]},{"id":"40cb200f.f6aa9","type":"function","z":"57b5ec40.2546b4","name":"queryhumidity","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Humidity FROM Thermo WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Humidity FROM Thermo WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["79aa2687.a22138"]]},{"id":"c69b5b71.8f1ba8","type":"ui_gauge","z":"57b5ec40.2546b4","name":"","group":"886896a1.9c27b8","order":1,"width":"3","height":"3","gtype":"gage","title":"Thermometer ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"60","x":900,"y":240,"wires":[]},{"id":"550a2ba7.5f1d54","type":"function","z":"57b5ec40.2546b4","name":"Battery Formatter","func":"msg.payload=msg.payload[0].last;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["c69b5b71.8f1ba8"]]},{"id":"c91836b5.490738","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"SELECT last(\"Battery\") FROM \"Thermo\" ","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":240,"wires":[["550a2ba7.5f1d54"]]},{"id":"453343b2.fcedec","type":"ui_gauge","z":"57b5ec40.2546b4","name":"","group":"886896a1.9c27b8","order":3,"width":"3","height":"3","gtype":"gage","title":"Plant 1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"60","x":880,"y":280,"wires":[]},{"id":"d4b344b1.5c3c18","type":"function","z":"57b5ec40.2546b4","name":"Battery Formatter","func":"msg.payload=msg.payload[0].last;\nreturn msg","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["453343b2.fcedec"]]},{"id":"7a8c3dd6.9e5804","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"SELECT last(\"Battery\") FROM \"FloraPlant2\" ","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":320,"wires":[["16fbba4e.8058f6"]]},{"id":"4abc35c9.bb7b1c","type":"ui_gauge","z":"57b5ec40.2546b4","name":"","group":"886896a1.9c27b8","order":4,"width":"3","height":"3","gtype":"gage","title":"Plant 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"60","x":880,"y":320,"wires":[]},{"id":"16fbba4e.8058f6","type":"function","z":"57b5ec40.2546b4","name":"Battery Formatter","func":"msg.payload=msg.payload[0].last;\nreturn msg","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["4abc35c9.bb7b1c"]]},{"id":"8d908fa4.20cb7","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"SELECT last(\"Battery\") FROM \"FloraPlant3\" ","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":360,"wires":[["54417f69.8724d"]]},{"id":"6dbc33ee.40daec","type":"ui_gauge","z":"57b5ec40.2546b4","name":"","group":"886896a1.9c27b8","order":5,"width":"3","height":"3","gtype":"gage","title":"Plant 3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"60","x":880,"y":360,"wires":[]},{"id":"54417f69.8724d","type":"function","z":"57b5ec40.2546b4","name":"Battery Formatter","func":"msg.payload=msg.payload[0].last;\nreturn msg","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["6dbc33ee.40daec"]]},{"id":"7eeb9c8e.aeae24","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"SELECT last(\"Battery\") FROM \"FloraPlant4\" ","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":400,"wires":[["2c9eb90b.802296"]]},{"id":"d72311fb.3cab9","type":"ui_gauge","z":"57b5ec40.2546b4","name":"","group":"886896a1.9c27b8","order":6,"width":"3","height":"3","gtype":"gage","title":"Plant 4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"60","x":880,"y":400,"wires":[]},{"id":"2c9eb90b.802296","type":"function","z":"57b5ec40.2546b4","name":"Battery Formatter","func":"msg.payload=msg.payload[0].last;\nreturn msg","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["d72311fb.3cab9"]]},{"id":"231c7bb5.97ad04","type":"influxdb in","z":"57b5ec40.2546b4","influxdb":"70b925d4.3407cc","name":"influx","query":"SELECT last(\"Battery\") FROM \"FloraPlant1\" ","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":280,"wires":[["d4b344b1.5c3c18"]]},{"id":"65cb302.51202d","type":"influxdb in","z":"a85b5ce1.87adb","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":160,"wires":[["433d0b8.ad556f4"]]},{"id":"c5ecd3c1.9226d","type":"inject","z":"a85b5ce1.87adb","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"query","payload":"","payloadType":"str","x":120,"y":240,"wires":[["89016e38.2a40c","da5881a3.0e15f","bb450c85.ceefd","187f55ae.3c597a"]]},{"id":"9483a6ae.d2cb58","type":"ui_chart","z":"a85b5ce1.87adb","name":"","group":"8c5d0012.02f31","order":2,"width":0,"height":0,"label":"Temperature Plant (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fc3c09","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":160,"wires":[[]]},{"id":"5a56f817.18f4d8","type":"ui_dropdown","z":"a85b5ce1.87adb","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"8c5d0012.02f31","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":160,"y":140,"wires":[["187f55ae.3c597a","bb450c85.ceefd"]]},{"id":"187f55ae.3c597a","type":"function","z":"a85b5ce1.87adb","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Temperature FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Temperature FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["65cb302.51202d"]]},{"id":"b28445e1.a90e48","type":"influxdb in","z":"a85b5ce1.87adb","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":220,"wires":[["5cdd00fa.4f5ac"]]},{"id":"4b042fc4.b3d18","type":"ui_chart","z":"a85b5ce1.87adb","name":"","group":"8c5d0012.02f31","order":3,"width":0,"height":0,"label":"Light (Lux)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e5e405","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":220,"wires":[[]]},{"id":"bb450c85.ceefd","type":"function","z":"a85b5ce1.87adb","name":"queryLight","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Light FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Light FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["b28445e1.a90e48"]]},{"id":"c8969871.e6efd8","type":"function","z":"a85b5ce1.87adb","name":"Moisture formatter","func":"//\n \nvar series = [\"Moisture %\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Moisture + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":280,"wires":[["4c1eb977.6acda8"]]},{"id":"3fd32c98.c13034","type":"influxdb in","z":"a85b5ce1.87adb","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":280,"wires":[["c8969871.e6efd8"]]},{"id":"4c1eb977.6acda8","type":"ui_chart","z":"a85b5ce1.87adb","name":"","group":"9f371d00.32e67","order":2,"width":0,"height":0,"label":"Moisture (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":280,"wires":[[]]},{"id":"47320a6a.b81ad4","type":"ui_dropdown","z":"a85b5ce1.87adb","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"9f371d00.32e67","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":140,"y":320,"wires":[["da5881a3.0e15f","89016e38.2a40c"]]},{"id":"da5881a3.0e15f","type":"function","z":"a85b5ce1.87adb","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Moisture FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Moisture FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["3fd32c98.c13034"]]},{"id":"9b16d60d.5d0fa8","type":"function","z":"a85b5ce1.87adb","name":"Conductivity formatter","func":"//\n \nvar series = [\"Conductivity\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Conductivity + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["e675c413.b5d998"]]},{"id":"74ad426c.51bd3c","type":"influxdb in","z":"a85b5ce1.87adb","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":340,"wires":[["9b16d60d.5d0fa8"]]},{"id":"e675c413.b5d998","type":"ui_chart","z":"a85b5ce1.87adb","name":"","group":"9f371d00.32e67","order":3,"width":0,"height":0,"label":"Conductivity (µS/cm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2cf00e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":340,"wires":[[]]},{"id":"89016e38.2a40c","type":"function","z":"a85b5ce1.87adb","name":"queryhumidity","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Conductivity FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Conductivity FROM FloraPlant1 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["74ad426c.51bd3c"]]},{"id":"811bd9dd.5d6ce8","type":"influxdb in","z":"ba471e8b.995bf","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":120,"wires":[["3b22b8c7.a84178"]]},{"id":"5c39c1c.ac9c14","type":"inject","z":"ba471e8b.995bf","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"query","payload":"","payloadType":"str","x":80,"y":220,"wires":[["5ba4db2.e069b24","b9426824.442d48","f466ddf9.617a4","19bb3957.844247"]]},{"id":"d0fb514.a255bb","type":"ui_chart","z":"ba471e8b.995bf","name":"","group":"2d19f46e.b800fc","order":4,"width":0,"height":0,"label":"Temperature Plant (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fc3c09","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":120,"wires":[[]]},{"id":"f466ddf9.617a4","type":"function","z":"ba471e8b.995bf","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Temperature FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Temperature FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["811bd9dd.5d6ce8"]]},{"id":"6cbe152c.41447c","type":"influxdb in","z":"ba471e8b.995bf","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":240,"wires":[["2b2a48e8.5e3f48"]]},{"id":"c4029eb9.f0319","type":"ui_chart","z":"ba471e8b.995bf","name":"","group":"40b8042a.c7287c","order":3,"width":0,"height":0,"label":"Moisture (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":240,"wires":[[]]},{"id":"b9426824.442d48","type":"function","z":"ba471e8b.995bf","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Moisture FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Moisture FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["6cbe152c.41447c"]]},{"id":"9badadce.3f1e","type":"influxdb in","z":"ba471e8b.995bf","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":300,"wires":[["73796e09.a8c25"]]},{"id":"46e49cc8.cfac44","type":"ui_chart","z":"ba471e8b.995bf","name":"","group":"40b8042a.c7287c","order":4,"width":0,"height":0,"label":"Conductivity (µS/cm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#2cf00e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":300,"wires":[[]]},{"id":"5ba4db2.e069b24","type":"function","z":"ba471e8b.995bf","name":"queryhumidity","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Conductivity FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Conductivity FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["9badadce.3f1e"]]},{"id":"347c56ef.10d01a","type":"influxdb in","z":"871cef2a.7a2bd","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":100,"wires":[["d14c2af1.aa8fe8"]]},{"id":"ac07d13b.d79d4","type":"inject","z":"871cef2a.7a2bd","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"query","payload":"","payloadType":"str","x":80,"y":180,"wires":[["16117f6.48bc281","4e2a5911.166698","791eafc6.a9a4b","a0897013.ffd16"]]},{"id":"57c3b5a0.1938fc","type":"ui_chart","z":"871cef2a.7a2bd","name":"","group":"175adaf6.dede05","order":2,"width":0,"height":0,"label":"Temperature Plant (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fc3c09","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":100,"wires":[[]]},{"id":"16117f6.48bc281","type":"function","z":"871cef2a.7a2bd","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Temperature FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Temperature FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["347c56ef.10d01a"]]},{"id":"ada995f6.688ff8","type":"influxdb in","z":"871cef2a.7a2bd","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":160,"wires":[["b4900034.83a92"]]},{"id":"6bb1e78f.86b598","type":"ui_chart","z":"871cef2a.7a2bd","name":"","group":"175adaf6.dede05","order":3,"width":0,"height":0,"label":"Light (Lux)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e5e405","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":160,"wires":[[]]},{"id":"4e2a5911.166698","type":"function","z":"871cef2a.7a2bd","name":"queryLight","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Light FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Light FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["ada995f6.688ff8"]]},{"id":"53d5cced.48eb84","type":"influxdb in","z":"871cef2a.7a2bd","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":220,"wires":[["d631f13c.fdd5b"]]},{"id":"c9da4fa8.81cf2","type":"ui_chart","z":"871cef2a.7a2bd","name":"","group":"1c3dc898.a23da7","order":2,"width":0,"height":0,"label":"Moisture (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":220,"wires":[[]]},{"id":"791eafc6.a9a4b","type":"function","z":"871cef2a.7a2bd","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Moisture FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Moisture FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["53d5cced.48eb84"]]},{"id":"8fb15c7f.5c177","type":"influxdb in","z":"871cef2a.7a2bd","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":280,"wires":[["7fc06126.26fc6"]]},{"id":"26e855a1.68d27a","type":"ui_chart","z":"871cef2a.7a2bd","name":"","group":"1c3dc898.a23da7","order":3,"width":0,"height":0,"label":"Conductivity (µS/cm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2cf00e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":280,"wires":[[]]},{"id":"a0897013.ffd16","type":"function","z":"871cef2a.7a2bd","name":"queryhumidity","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Conductivity FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Conductivity FROM FloraPlant3 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["8fb15c7f.5c177"]]},{"id":"a7061243.27e3c","type":"influxdb in","z":"15e4c79.09e8538","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":120,"wires":[["f4906051.bc6af"]]},{"id":"df0115b1.3de6f8","type":"inject","z":"15e4c79.09e8538","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"query","payload":"","payloadType":"str","x":140,"y":200,"wires":[["b021f2e.335641","7a58cfd0.cfd61","6343916.40a837","db638e96.410be"]]},{"id":"429c6875.f40af8","type":"ui_chart","z":"15e4c79.09e8538","name":"","group":"bf47dc80.56398","order":4,"width":0,"height":0,"label":"Temperature Plant (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fc3c09","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":120,"wires":[[]]},{"id":"b021f2e.335641","type":"function","z":"15e4c79.09e8538","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Temperature FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Temperature FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["a7061243.27e3c"]]},{"id":"f42ca8e.a9ef658","type":"influxdb in","z":"15e4c79.09e8538","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":180,"wires":[["ed7cc047.59c26"]]},{"id":"9d3f5b33.61da08","type":"ui_chart","z":"15e4c79.09e8538","name":"","group":"bf47dc80.56398","order":5,"width":0,"height":0,"label":"Light (Lux)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e5e405","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":180,"wires":[[]]},{"id":"7a58cfd0.cfd61","type":"function","z":"15e4c79.09e8538","name":"queryLight","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Light FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Light FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["f42ca8e.a9ef658"]]},{"id":"a4293686.f97a58","type":"influxdb in","z":"15e4c79.09e8538","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":240,"wires":[["e6072b07.d05ed8"]]},{"id":"28be27ee.76a528","type":"ui_chart","z":"15e4c79.09e8538","name":"","group":"be0503f.8009d","order":3,"width":0,"height":0,"label":"Moisture (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":240,"wires":[[]]},{"id":"6343916.40a837","type":"function","z":"15e4c79.09e8538","name":"querytemp","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Moisture FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Moisture FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["a4293686.f97a58"]]},{"id":"215f7e20.898fc2","type":"influxdb in","z":"15e4c79.09e8538","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":300,"wires":[["3a4f58d2.7665c8"]]},{"id":"b1328f2d.0284a","type":"ui_chart","z":"15e4c79.09e8538","name":"","group":"be0503f.8009d","order":4,"width":0,"height":0,"label":"Conductivity (µS/cm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2cf00e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":300,"wires":[[]]},{"id":"db638e96.410be","type":"function","z":"15e4c79.09e8538","name":"queryhumidity","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Conductivity FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Conductivity FROM FloraPlant4 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["215f7e20.898fc2"]]},{"id":"5ef0c069.e4f8d","type":"mqtt in","z":"ba471e8b.995bf","name":"","topic":"scannumber","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":190,"y":700,"wires":[["86f816a7.414b58"]]},{"id":"61cdf08.198961","type":"mqtt in","z":"ba471e8b.995bf","name":"","topic":"FloraResult","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":190,"y":620,"wires":[["20c8264c.4dee2a"]]},{"id":"e9c84962.5f2ca8","type":"function","z":"ba471e8b.995bf","name":"","func":"msg.payload=\"Scanning\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["20c8264c.4dee2a"]]},{"id":"a711ec91.e3085","type":"mqtt in","z":"871cef2a.7a2bd","name":"","topic":"scannumber","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":330,"y":700,"wires":[["2d13d2b6.9a1a2e"]]},{"id":"abf1e5ca.a4dd08","type":"mqtt in","z":"871cef2a.7a2bd","name":"","topic":"FloraResult","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":330,"y":620,"wires":[["f21744d4.527668"]]},{"id":"d8d459a8.8fd8f8","type":"function","z":"871cef2a.7a2bd","name":"","func":"msg.payload=\"Scanning\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":540,"wires":[["f21744d4.527668"]]},{"id":"39d94e96.bfbd52","type":"mqtt in","z":"15e4c79.09e8538","name":"","topic":"scannumber","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":270,"y":700,"wires":[["986e74d3.f0d048"]]},{"id":"85513ec9.3361b","type":"mqtt in","z":"15e4c79.09e8538","name":"","topic":"FloraResult","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":270,"y":620,"wires":[["6ca758f7.4fe098"]]},{"id":"5b2155cf.f7d68c","type":"function","z":"15e4c79.09e8538","name":"","func":"msg.payload=\"Scanning\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["6ca758f7.4fe098"]]},{"id":"f74bc652.803928","type":"mqtt in","z":"57b5ec40.2546b4","name":"","topic":"ThermoResult","qos":"2","datatype":"auto","broker":"b7a043b4.5990e","x":350,"y":640,"wires":[["99ecb885.cfb4b8"]]},{"id":"99ecb885.cfb4b8","type":"ui_text","z":"57b5ec40.2546b4","group":"78bd6340.abc21c","order":5,"width":0,"height":0,"name":"","label":"Pairing Status:","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":640,"wires":[]},{"id":"7c97cb68.3ff724","type":"function","z":"57b5ec40.2546b4","name":"","func":"msg.payload=\"Scanning\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":560,"wires":[["99ecb885.cfb4b8"]]},{"id":"433d0b8.ad556f4","type":"function","z":"a85b5ce1.87adb","name":"Temperature formatter","func":"//\n \nvar series = [\"Temperature °C\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Temperature + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":160,"wires":[["9483a6ae.d2cb58"]]},{"id":"5cdd00fa.4f5ac","type":"function","z":"a85b5ce1.87adb","name":"Light Formatter","func":"//\n \nvar series = [\"Light (lux)\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Light + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["4b042fc4.b3d18"]]},{"id":"2b2a48e8.5e3f48","type":"function","z":"ba471e8b.995bf","name":"Moisture formatter","func":"//\n \nvar series = [\"Moisture %\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Moisture + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["c4029eb9.f0319","5f776d96.81fda4"]]},{"id":"73796e09.a8c25","type":"function","z":"ba471e8b.995bf","name":"Conductivity formatter","func":"//\n \nvar series = [\"Conductivity\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Conductivity + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["46e49cc8.cfac44"]]},{"id":"3b22b8c7.a84178","type":"function","z":"ba471e8b.995bf","name":"Temperature formatter","func":"//\n \nvar series = [\"Temperature °C\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Temperature + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["d0fb514.a255bb"]]},{"id":"d631f13c.fdd5b","type":"function","z":"871cef2a.7a2bd","name":"Moisture formatter","func":"//\n \nvar series = [\"Moisture %\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Moisture + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["c9da4fa8.81cf2"]]},{"id":"7fc06126.26fc6","type":"function","z":"871cef2a.7a2bd","name":"Conductivity formatter","func":"//\n \nvar series = [\"Conductivity\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Conductivity + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["26e855a1.68d27a"]]},{"id":"d14c2af1.aa8fe8","type":"function","z":"871cef2a.7a2bd","name":"Temperature formatter","func":"//\n \nvar series = [\"Temperature °C\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Temperature + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["57c3b5a0.1938fc"]]},{"id":"b4900034.83a92","type":"function","z":"871cef2a.7a2bd","name":"Light Formatter","func":"//\n \nvar series = [\"Light (lux)\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Light + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["6bb1e78f.86b598"]]},{"id":"e6072b07.d05ed8","type":"function","z":"15e4c79.09e8538","name":"Moisture formatter","func":"//\n \nvar series = [\"Moisture %\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Moisture + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["28be27ee.76a528"]]},{"id":"3a4f58d2.7665c8","type":"function","z":"15e4c79.09e8538","name":"Conductivity formatter","func":"//\n \nvar series = [\"Conductivity\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Conductivity + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["b1328f2d.0284a"]]},{"id":"f4906051.bc6af","type":"function","z":"15e4c79.09e8538","name":"Temperature formatter","func":"//\n \nvar series = [\"Temperature °C\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Temperature + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":120,"wires":[["429c6875.f40af8"]]},{"id":"ed7cc047.59c26","type":"function","z":"15e4c79.09e8538","name":"Light Formatter","func":"//\n \nvar series = [\"Light (lux)\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Light + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["9d3f5b33.61da08"]]},{"id":"13c76015.43d23","type":"ui_dropdown","z":"57b5ec40.2546b4","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"78bd6340.abc21c","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":220,"y":60,"wires":[["40cb200f.f6aa9","84877cb5.4a146"]]},{"id":"961462d1.c9675","type":"ui_dropdown","z":"ba471e8b.995bf","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"2d19f46e.b800fc","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":60,"y":140,"wires":[["f466ddf9.617a4","19bb3957.844247"]]},{"id":"393ff0d.7dea01","type":"ui_dropdown","z":"ba471e8b.995bf","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"40b8042a.c7287c","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":80,"y":280,"wires":[["5ba4db2.e069b24","b9426824.442d48"]]},{"id":"5f776d96.81fda4","type":"debug","z":"ba471e8b.995bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":220,"wires":[]},{"id":"a0f0ebf8.87bd18","type":"influxdb in","z":"ba471e8b.995bf","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":60,"wires":[["7ca27cb3.98b794"]]},{"id":"85d828f5.39cab8","type":"function","z":"ba471e8b.995bf","name":"queryLight","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Light FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Light FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":210,"y":60,"wires":[["a0f0ebf8.87bd18"]]},{"id":"7ca27cb3.98b794","type":"function","z":"ba471e8b.995bf","name":"Moisture formatter","func":"//\n \nvar series = [\"Moisture %\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Light + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[[]]},{"id":"ce57e26e.8d3d3","type":"influxdb in","z":"ba471e8b.995bf","influxdb":"70b925d4.3407cc","name":"influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":180,"wires":[["1c511198.5ef19e"]]},{"id":"19bb3957.844247","type":"function","z":"ba471e8b.995bf","name":"queryLight","func":"var time = \"1d\";\n\nif(msg.topic==\"settime\"){\n    time = msg.payload;\n    msg.query =\"SELECT Light FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}\n\nif(msg.topic==\"query\"){\n    msg.query =\"SELECT Light FROM FloraPlant2 WHERE  time > now() -\"+time;\n    return msg;}","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["ce57e26e.8d3d3"]]},{"id":"1c511198.5ef19e","type":"function","z":"ba471e8b.995bf","name":"Light Formatter","func":"//\n \nvar series = [\"Light (lux)\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\nvar thetime;\n \nfor (var i=0; i < msg.payload.length; i++) {\n    thetime = Number(msg.payload[i].time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + msg.payload[i].Light + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["b7055b66.27dd48"]]},{"id":"b7055b66.27dd48","type":"ui_chart","z":"ba471e8b.995bf","name":"","group":"2d19f46e.b800fc","order":5,"width":0,"height":0,"label":"Light (Lux)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e5e405","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":180,"wires":[[]]},{"id":"e0cb94b.a33fb68","type":"ui_dropdown","z":"871cef2a.7a2bd","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"175adaf6.dede05","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":100,"y":120,"wires":[["16117f6.48bc281","4e2a5911.166698"]]},{"id":"cb3054e4.a8a438","type":"ui_dropdown","z":"871cef2a.7a2bd","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"1c3dc898.a23da7","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":80,"y":280,"wires":[["791eafc6.a9a4b","a0897013.ffd16"]]},{"id":"7ab3897f.a35968","type":"ui_dropdown","z":"15e4c79.09e8538","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"bf47dc80.56398","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":140,"y":140,"wires":[["b021f2e.335641","7a58cfd0.cfd61"]]},{"id":"1c8b095a.f48d27","type":"ui_dropdown","z":"15e4c79.09e8538","name":"","label":"","tooltip":"","place":"Select a Time Range","group":"be0503f.8009d","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"1 day","value":"1d","type":"str"},{"label":"2 days","value":"2d","type":"str"},{"label":"3 days","value":"3d","type":"str"},{"label":"5 days","value":"5d","type":"str"},{"label":"This Month","value":"30d","type":"str"},{"label":"Two Months","value":"60d","type":"str"},{"label":"Four Months","value":"120d","type":"str"}],"payload":"","topic":"settime","x":160,"y":280,"wires":[["6343916.40a837","db638e96.410be"]]}]
